<p></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'new', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @books.user.get_profile_image(100,100) %><br>
            <%= link_to @books.user.name, user_path(@books.user_id) %></tb>
            <td><%= link_to book_path(@books.id) do %>
            <%= @books.title %></td>
            <% end %>
            <td><%= @books.body %></td>
            <td><%= link_to 'Edit', edit_book_path(@books.id) %></td>
            <td><%= link_to 'Destroy', book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
          </tr>
        </tbody>
      </table>
